.caseListContent{
	background:#fff;
	margin-top:10px;
	padding:20px;
	.listLoading{
		position: fixed;
	    top: 50%;
	    left: 45%;
	}
}
.caseItem{
	.tagTitle{
		background:#fff !important;
		color:#108ee9 !important;
		border:1px dashed #2db7f5 !important;
	}
	span{
		cursor: pointer;
	}
}

//  弹框样式
.requestModal{
	.ant-modal-footer{
		text-align: center;
	}
}

//   侦查列表详情
.detailContent{
	background:#fff;
	.progressContent{
		// width:100%px;
		overflow-x: scroll;
		.ant-card-body{
			padding: 128px 20px 20px;
			width:110%;
			.pItem{
				.ant-steps-item{
					flex: 0;
					width:200px;
					overflow: visible;
					margin-right: 16px;
					margin-right: 20px;
					.ant-steps-item-content{
                        width:200px;
                        .ant-steps-item-title{
                            font-size: 12px;
                            line-height: 24px;
                            width:100%;
                            .stepTitle{
                                width:100%;
                                .caesDescrition{
                                    width:100%;
                                    overflow: hidden;
                                    text-overflow:ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .ant-steps-item-title:after{
                            left:2%;
                            width:180px;
                        }
                    }
				}
				.ant-steps-item:nth-child(odd){
					.ant-steps-item-icon{
						.ant-steps-icon{
							color:green
						}
					}
					.ant-steps-item-title{
						.stepTitle{
							position: absolute;
							top:-101px;
						}
						.stepTitles{
							padding-left:6px;
							border-left: 1px dashed green;
						}
					}
					.ant-steps-item-title:after{
						background-color:green
					}
				}
				.ant-steps-item:nth-child(even){
					.ant-steps-icon{
						color:red
					}
					.stepTitle{
						position: absolute;
						padding-left: 16px;
						margin-top: 16px;
						border-left:1px  dashed red;	
					}
					.ant-steps-item-title:after{
						background-color:red
					}					
				}				
			}
		}
	}
}
.detailBaseInfo{
	.ant-card-grid{
		width:16%;
		padding:8px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	.ant-card-grid:nth-child(odd){
		background: #f9f9f9;
	}
}
.fightTeamForm{
	.ant-form-item-control-wrapper{
		max-height: 230px;
		overflow-y: auto;
		width:70%;
	}
}

.solveCaseList,.detailContent{
	.ant-card-head-title{
		padding: 8px 0;
	}
}
.progressVer{
     padding-left: 40% !important;
     .ant-timeline-item-content{
        width:48%;
        border-top:1px solid red;
        top:6px;
        padding-top: 6px;
     }
    .ant-timeline-item:nth-child(odd){
        .ant-timeline-item-content{
            left: -52%;
        }
    }
    .ant-timeline-item:nth-child(even){
        .ant-timeline-item-content{
            margin-left: 18px;
        }
    }
}
// 提取案件
.extractCaseM{
    width:88% !important;
}


.focusFind{
	animation-timing-function: ease-in-out;
	animation-name: breathe;
	animation-duration: 1200ms;
   /*  animation-iteration-count: infinite; */
	animation-iteration-count: 10;
	animation-direction: alternate;
	 
	 -webkit-animation-timing-function: ease-in-out;
	 -webkit-animation-name: breathe;
	 -webkit-animation-duration: 1200ms;
   /*   -webkit-animation-iteration-count: infinite; */
	 -webkit-animation-iteration-count: 10;
	 -webkit-animation-direction: alternate;
 }
 
 @keyframes breathe
 {
	 0% { background:rgba(255,210,0,0) ; }
	 50% { background:rgba(248,210,0,0.2) ; }
	 100% { background:rgba(248,210,0,0) ; }
 }
 
 @-moz-keyframes breathe /* Firefox */
 {
	 0% { background:rgba(255,210,0,0) ; }
	 50% { background:rgba(248,210,0,0.2) ; }
	 100% { background:rgba(248,210,0,0) ; }
 }
 
 @-webkit-keyframes breathe /* Safari and Chrome */
 {
	 0% { background:rgba(255,210,0,0) ; }
	 50% { background:rgba(248,210,0,0.2) ; }
	 100% { background:rgba(248,210,0,0) ; }
 }
 
 @-o-keyframes breathe /* Opera */
 {
	 0% { background:rgba(255,210,0,0) ; }
	 50% { background:rgba(248,210,0,0.2) ; }
	 100% { background:rgba(248,210,0,0) ; }
 }